.footer {

    .footer-subscription {
        background: url("../assets/img/index10.jpg") left center;
        background-size: cover;
        padding-right: 405px;
        padding-left: 405px;

        .main {
            padding-top: 312px;
            padding-bottom: 112px;
            width: 350px;

            p {
                font-size: 32px;
                line-height: 48px;
                font-weight: 600;
                color: #8D8D8D;
            }

            .search {
                border: 2px solid #916000;
                border-radius: 4px;
                height: 60px;
                display: flex;
                justify-content: space-between;

                input {
                    flex: 1;
                    height: 100%;
                    padding: 0;
                    border: 0;
                    font-size: 16px;
                    line-height: 24px;
                    color: #8D8D8D;
                    padding-left: 16px;
                }

                input::placeholder {
                    color: #8D8D8D;
                }

                button {
                    height: 100%;
                    color: #FFFFFF;
                    background-color: #916000;
                    font-size: 16px;
                    line-height: 24px;
                    padding-right: 22px;
                    padding-left: 27px;
                    border: 0;
                }

            }

        }

        @media(max-width:1799px) {
            padding-right: 200px;
            padding-left: 200px;
        }

        @media(max-width:1200px) {
            padding-right: 100px;
            padding-left: 100px;
        }

        @media(max-width:992px) {
            padding-right: 15px;
            padding-left: 15px;

            .main {
                width: 345px;

            }
        }

        @media(max-width:385px) {
            .main {
                width: 100%;
            }
        }


    }

    .footer-bar {
        background-color: #916000;
        width: 100%;
        display: flex;
        align-items: center;

        .bar-img {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-right: 20px;
        }

        p {
            font-size: 14px;
            line-height: 21px;
            color: #FFFFFF;
            margin-top: 2px;
            margin-bottom: 0; 
        }

        ul {
            margin-left: auto;
            margin-bottom: 0;
            display: flex;

            li {
                margin-right: 36px;
                font-size: 20px;
                line-height: 30px;
                color: #FFFFFF;
            }

            li:last-child {
                margin-right: 0;
            }

            li:hover {
                color: rgb(255, 196, 0);
            }

            li:active,
            li:focus-visible {
                color: rgb(255, 196, 0);
            }

        }

        @media(max-width:1799px) {
            padding-right: 200px;
            padding-left: 200px;

        }

        @media(max-width:1200px) {
            padding-right: 100px;
            padding-left: 100px;

        }

        @media(max-width:992px) {
            padding-right: 15px;
            padding-left: 15px;
            justify-content: space-around;
        }
        @media(max-width:992px) {
            padding-right: 15px;
            padding-left: 15px;
            .bar-img {               
                margin-right: 10px;
            }
        }



    }



}